<div class="nav-container-general">

    <!--Titulo-->
    <div class="header-app">
        <h1 style=" font-weight: bold;">{{title}}</h1>
    </div>


    <!--Zona de botones flotantes-->
    <div class="fab-container">
        <div>
            <button matTooltipPosition="left" mat-mini-fab  class="fab-secondary" color="primary"
                matTooltip="Agregar Usuario" (click)="goToCrear()">
                <span class="material-icons">add</span>
            </button>            
        </div>
    </div>


    <!--Filtro-->
    <div class="form row">
        <div class="col-md-10">
            <mat-form-field style="width: 80%;">
                <mat-label>Buscar Usuario</mat-label>
                <input matInput (keyup)="aplicarFiltro($event)" [formControl]="txtFiltro" #input>
                <button style="outline: none;" *ngIf="txtFiltro.value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="limpiarFiltro()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>


    <!--Boton: Tabla-->
    <div id="listaMobile" class=" mat-elevation-z8 ">
        <div class="example-container">

            <table mat-table [dataSource]="dataSource" matSort style="width: 100%; padding-bottom: 2rem;" aria-describedby="TablaUsuario">

                <!-- Nombre -->
                <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaUsuario" id="Nombre"> Nombre
                    </th>
                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Nombre: '>
                        {{element.nombres}} </td>
                </ng-container>

                <!-- Usuario -->
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaUsuario" id="Correo">
                        Usuario
                    </th>
                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Correo: '>
                        {{element.correo}} </td>
                </ng-container>

                <!-- Rol -->
                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaId" id="Rol"> Rol </th>
                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Rol: '>
                        {{element.rol}} </td>
                </ng-container>

                <!-- Estado -->
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaId" id="Estado"> Estado </th>
                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Estado: '>
                        {{element.activo? 'Activo':'Inactivo'}} 
                    </td>
                </ng-container>

                <!--Acciones: Editar/Eliminar/Activar-->
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaId" id="acciones"> Acciones
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="example-button-row " *ngIf="element.idUsuario!=1">
                            <button mat-raised-button color="accent" style="margin-right: 8px;"
                                (click)="goToEditar(element.idUsuario)">Editar</button>
                            <button *ngIf="element.activo" mat-raised-button color="warn"
                                (click)="fnCambiarEstado(element.idUsuario,0)">Eliminar</button>
                            <button *ngIf="!element.activo" mat-raised-button class="buttonActive"
                                (click)="fnCambiarEstado(element.idUsuario,1)">Activar</button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
    </div>

</div>