//HTML Mat Table
@media screen and (max-width: 960px) {
    #listaMobile .mat-elevation-z8 {
        background: transparent !important;
        box-shadow: none !important;
    }

    #listaMobile .mat-header-row {
        display: none;
    }

    #listaMobile .mat-table {
        background: transparent;

        * {
            box-sizing: border-box;
        }

        .mat-row {
            display           : block;
            overflow          : hidden;
            height            : auto;
            position          : relative;
            clear             : both;
            box-shadow        : 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            //background-color: #fff;
            border-top-style  : solid;
            border-top-color  : #3f51b5;
            border-top-width  : 2px;
            border-radius     : 3px;

            +.mat-row {
                margin-top: 24px;
            }
        }

        .mat-cell {
            text-align: left !important;
            display   : block;
            width     : 100%;
            padding   : 0 16px;
            margin    : 16px 0;
            border    : 0 none;

            &:first-child {
                padding: 0 48px 0 16px;

                a {
                    font-size     : 20px;
                    // font-weight: 400;
                    color         : inherit;
                }

                // &:before {
                //     display: none;
                // }
            }

            &.m-card-sub-title {
                margin-top: -8px;
                padding   : 0 48px 0 16px;
                color     : rgba(0, 0, 0, 0.54);
            }
        }

        .has_label_on_mobile {
            &:before {
                content    : attr(data-label);
                display    : inline;
                font-weight: bold;
            }
        }

        .header_mobile {
            &:before {
                content    : attr(id);
                display    : inline;
                font-weight: bold;
            }
        }

        .mat-column-action {
            width   : auto;
            padding : 8px 10px 0px 0px !important;
            margin  : 0;
            position: absolute;
            top     : 0;
            right   : 0;

            &:before {
                display: none;
            }
        }

        .mat-column-sNombres {
            width    : 70%;
            font-size: 20px;
        }

        .mat-icon-button {
            height: 0px;
        }
    }

    #listaMobile .mat-paginator {
        margin-top: 24px;
    }
}


// Html table responsive card

@media screen and (max-width: 960px) {
    #listaMobile .mat-elevation-z8 {
        background: transparent !important;
        box-shadow: none !important;
    }

    #listaMobile .table-header-row {
        display: none;
    }

    #listaMobile .table {
        background: transparent;

        * {
            box-sizing: border-box;
        }

        .table-row {
            display           : block;
            overflow          : hidden;
            height            : auto;
            position          : relative;
            clear             : both;
            box-shadow        : 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            //background-color: #fff;
            border-top-style  : solid;
            border-top-color  : rgb(255, 64, 129);
            border-top-width  : 2px;
            border-radius     : 3px;

            +.table-row {
                margin-top: 24px;
            }
        }

        .table-cell {
            text-align: left !important;
            display   : block;
            width     : 100%;
            padding   : 0 16px;
            margin    : 16px 0;
            border    : 0 none;

            &:first-child {
                padding: 0 48px 0 16px;

                a {
                    font-size: 20px;
                    color    : inherit;
                }
            }

            &.m-card-sub-title {
                margin-top: -8px;
                padding   : 0 48px 0 16px;
                color     : rgba(0, 0, 0, 0.54);
            }
        }

        .has_label_on_mobile {
            &:before {
                content    : attr(data-label);
                display    : inline;
                font-weight: bold;
            }
        }

        .header_mobile {
            &:before {
                content    : attr(id);
                display    : inline;
                font-weight: bold;
            }
        }
    }
}