html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (min-device-width: 768px) {
    .nav-container-general {
        width : 90%;
        margin: 0px auto
    }
}

@import './scss/index';